/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: left;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.nav-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.nav {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    display: inline-block;
}

.nav li {
    display: inline;
    margin-right: 15px;
}

.nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.highlight {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 10px;
    margin-bottom: 15px;
}

.main-content {
    display: flex;
    margin-bottom: 20px;
}

.image-section {
    flex: 1;
    padding-right: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.form-section {
    flex: 2;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form label {
    margin-right: 10px;
}

form input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.send-button-container {
    text-align: left;
}

.send-button {
    background-color: #28a745;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.grade-a {
    color: green;
}

.grade-b {
    color: orange;
}

.grade-a-minus {
    color: #338a3e;
}

.shape {
    width: 150px;
    height: 100px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 100px;
    clip-path: polygon(0% 25%, 15% 25%, 15% 0%, 85% 0%, 85% 25%, 100% 25%, 100% 75%, 85% 75%, 85% 100%, 15% 100%, 15% 75%, 0% 75%);
    margin: 20px auto;
    padding: 10px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}